<script type="text/html" id="mainPage">

<div data-role="page">

    <div data-role="header">
        <h1>Home Automation</h1>
    </div><!-- /header -->

    <div data-role="collapsible-set">

    <div data-role="collapsible" data-collapsed="false" data-theme="b">
    <h3>Settings1</h3>
    
<div data-role="content">   
<table border="0">
<tr>
<td><label for="flip-1">Light 1</label>
<select name="flip-1" id="flip-1" data-role="slider">
<option value="off">Off</option>
<option value="on">On</option>
</select></td>
<td><label for="flip-5">Light 5</label>
<select name="flip-5" id="flip-5" data-role="slider">
<option value="off">Off</option>
<option value="on">On</option>
</select></td>
</tr>
<tr>
<td><label for="flip-2">Light 2</label>
<select name="flip-2" id="flip-2" data-role="slider">
<option value="off">Off</option>
<option value="on">On</option>
</select></td>
<td><label for="flip-6">Light 6</label>
<select name="flip-6" id="flip-6" data-role="slider">
<option value="off">Off</option>
<option value="on">On</option>
</select></td>
</tr>
<tr>
<td><label for="flip-3">Light 3</label>
<select name="flip-3" id="flip-3" data-role="slider">
<option value="off">Off</option>
<option value="on">On</option>
</select></td>
<td><label for="flip-7">Light 7</label>
<select name="flip-7" id="flip-7" data-role="slider">
<option value="off">Off</option>
<option value="on">On</option>
</select></td>
</tr>
<tr>
<td><label for="flip-4">Light 4</label>
<select name="flip-4" id="flip-4" data-role="slider">
<option value="off">Off</option>
<option value="on">On</option>
</select></td>
<td><label for="flip-8">Light 8</label>
<select name="flip-8" id="flip-8" data-role="slider">
<option value="off">Off</option>
<option value="on">On</option>
</select></td>
</tr>
<tr>
<td><label for="output1">Sensor 1</label>
<input name="display-1" id="display-1" data-role="textbox" value="0.0">
</td>
<td><label for="output2">Sensor 2</label>
<input name="display-2" id="display-2" data-role="textbox" value="0.0">
</td>
<tr> 

</table>

    
    </div>

</div>


    </div><!-- /content -->
    
    <div data-role="footer" data-position="fixed">
        <h4>nikkpap & duckdodgers - Copyright 2013</h4>
    </div><!-- /footer -->
    
</div><!-- /page -->

<script>